﻿@model PagedList.IPagedList<GAPSoft.Models.PedidosClientes>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Pedidos de los Clientes</h2>

<p>
    @Html.ActionLink("Nuevo Pedido", "Create")
</p>

@using (Html.BeginForm("Index", "PedidosClientes", FormMethod.Get))
{
    <p>
        Filtrar por Nombre: @Html.TextBox("BuscarNombre", ViewBag.CurrentFilter as string)
        <input type="submit" value="Buscar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Cliente.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FechaEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Abono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ValorTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().EstadosPedidoID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotal)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID }) |
            @Html.ActionLink("Cancelar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))