﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GAPSoft</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-2.1.4.js")
    @*    @Scripts.Render("~/Scripts/bootstrap.js")*@
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a class="navbar-brand" href="/">GAPSoft</a></h1>
            </div>
            <div class="navbar-right navbar-collapse collapse">
                <ul class="nav navbar-nav ">
                    <li role="presentation">@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li role="presentation">@Html.ActionLink("About", "About", "Home")</li>
                        <li role="presentation">@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cliente <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                            <li>@Html.ActionLink("Pedidos", "Index", "PedidosClientes")</li>
                            <li>@Html.ActionLink("Facturas", "Index", "Facturas")</li>
                            <li>@Html.ActionLink("Puntos", "Index", "PuntosClientes")</li>                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Compras <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Compras", "Index", "Compras")</li>
                            <li>@Html.ActionLink("Proveedores", "Index", "Proveedores")</li>
                            <li>@Html.ActionLink("Materia Prima", "Index", "MateriasPrimas")</li>
                        </ul>
                    </li>
                    
                    <li role="presentation">@Html.ActionLink("Productos", "Index", "Productos") </li>
                    <li>@Html.ActionLink("Produccions", "Index", "Produccions")</li>
                    <li class="divider-vertical hidden-xs"></li>
                </ul>
                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="col-md-offset-6 col-md-6 col-sm-offset-4 col-sm-8 col-xs-12" style="text-align:right">&copy; @DateTime.Now.Year - GAPSoft Software de Gestión y Administración de Pastelerías.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
