﻿@model GAPSoft.Models.PuntosClientes

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Puntos de los Clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PuntosDisponibles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PuntosDisponibles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PuntosTotales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PuntosTotales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PuntosRedimidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PuntosRedimidos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Regresar", "Index")
</p>
