﻿@model IEnumerable<GAPSoft.Models.PuntosClientes>

@{
    ViewBag.Title = "Index";
}

<h2>Puntos de los Clientes</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuntosDisponibles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuntosTotales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuntosRedimidos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PuntosDisponibles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PuntosTotales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PuntosRedimidos)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID }) 
            @*@Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
    </tr>
}

</table>
