﻿body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1{
     margin-top:0;
 }

.divider-vertical {
  height: 40px;
  margin: 0 9px;
  margin-top: 10px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}


#Busqueda {
    margin-right: 20px;
}
