﻿@model GAPSoft.Models.Productos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstadoPedido.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoPedido.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grupo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupo.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoIva.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoIva.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockPedido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
